# Light Curve Data
csp/data/DR3
csp/data/filters
csp/data/Krisciunas_2013

models/*.npz

# OS Files
*.DS_Store

# IDE files
.idea/

# Python build files
*__pycache__*
*.pyc

# Jupyter Checkpoints
*.ipynb_checkpoints

# Testing cache files
.pytest_cache/
